@import "tailwindcss";

@theme {
    --font-sans: "Montserrat", sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
}
.slide {
  position:absolute;
  inset:0;
  opacity:0;
  transition:opacity 1s ease-in-out;
}

.slide.active {
  opacity:1;
}
